.container{
	max-width: 800px;
	margin: 0 auto;
	background-color: mediumseagreen;
}
ul.a{
	list-style-type: circle;
}
ul.b{
	list-style-type: square;
	list-style-position: outside;
}
ul.c{
	list-style-type: upper-alpha;
	list-style-position: inside;
}
ul.d{
	list-style-type: lower-roman;
}
ul.e{
	list-style-image:url('pic.png');
}