.container{
	max-width: 800px;
	margin: 0 auto;
	background-color: mediumseagreen;
}
ul{
	background-color: #0000ff;
	padding: 5px;
}
li{
	background-color:#ff0000;
	margin: 6px;
	padding: 9px
}
ul.b{
	list-style-type: square;
	list-style-position: outside;
}
ul.c{
	list-style-type: upper-alpha;
	list-style-position: inside;
}
ul.d{
	list-style-type: lower-roman;
}
ul.e{
	list-style-image:url('pic.png');
}
ul.demo{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.dog{
	list-style:circle inside ;
}
